
.menu_drawer_header_section {
    text-align: center;
    padding: 30px;
    background: var(--theme-color,rgb(218, 39, 46))!important;
    margin-bottom: 10px;
}

.menu_drawer_header_section img{
    border-radius: 50%;
    border: 3px solid #ffffff;
    width: 65px;
    height: 65px;
}
.menu_drawer_header_section .pending_balance{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.menu_drawer_header_section .rupee_sign svg{
    width: 17px;
    fill: #ffffff;
}
.menu_drawer_header_section .my_profile_title_name{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}
.menu_drawer_header_section .name_section{
    margin-top: 8px;
}
.menu_drawer_list_options_link_row {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}
.menu_drawer_list_options_link_row .menu_drawer_list_svg_icon {
    text-align: center;
}
.menu_drawer_list_options_link_row .menu_drawer_list_svg_icon svg{
    width: 20px;
    fill: var(--theme-color,rgb(218, 39, 46))!important;
}
.menu_drawer_list_options_link_row .menu_drawer_list_title {
    color: #6f6f6f;
    font-size: 15px;
    font-family: unset;
    word-spacing: 1px;
}