form#add_booking_form {
    margin: 13px;
    padding: 10px;
    text-align: left;
}
.signup_token_label {
    font-size: 14px;
    color: #828282;
    line-height: 22px;
}
input.signup_inout_section {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 14px 10px;
    font-size: 2vh;
    width: 100%;
}
textarea.signup_inout_section {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 14px 10px;
    font-size: 2vh;
    resize: none;
    width: 100%;
}

  .signup_already_have_account_div button {
    background: var(--theme-color,rgb(218, 39, 46))!important;
    padding: 9px 19px;
    color: #ffffff;
    border-radius: 2px;
    font-size: 14px;
}
.signup_already_have_account_div span.signin_new_user{
    font-size: 11px;
}
.signup_already_have_account_div .signin_new_user_link{
    font-size: 12px;
}

input[type=file]::-webkit-file-upload-button {
    width: 90px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    color: #ffffff;
    content: 'Choose image';
    display: inline-block;
    background: #a5a5a5;
    text-align: center;
    border: unset;
  }
  input[type=file] {
   width: 100%;
   font-size: 12px;
   color: #828282;
    background: #ffffff;
  }