.car_uploaded_image img{
    max-width: 200px;
    max-height: 200px;
}
.car_uploaded_image{
    text-align: center;
    width: 100%;
}
#add_booking_form .loader_section{
    text-align: center!important;
    width: 100%!important;
    margin-top: 5%!important;
}
