ion-header.admin_sub_header_class ion-toolbar.admin_sub_header_toolbar{
    color: #212121!important;
}
ion-header.admin_sub_header_class ion-back-button {
    display: block;
    color: #212121!important;
    font-size:14px;
}
ion-header.admin_sub_header_class ion-toolbar.admin_sub_header_toolbar {
    --background: #ffffff!important;
    --border-color: #c5c5c5!important;
}
.back_button_group{
    margin-top: 6px!important;
}
.header_title_text_admin{
    color: #212121!important;
    font-family: revert;
    letter-spacing: 1px;
}
.header_title_col_add_car svg{
    width: 95%;
}
.header_title_col_add_car svg.add_user_icon{
    width: 68%!important;
}
.header_title_col_user_list{
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

