.bidding_list_q_button {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 1px #e4e4e4;
    padding: 9px 14px;
    background: #538a57;
    width: 99%;
    color: #e8e8e8;
    font-size: 11px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.bidding_list_cancel_button {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 1px #e4e4e4;
    padding: 9px 14px;
    background: #d81616;
    width: 99%;
    color: #e8e8e8;
    font-size: 11px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.booking_detail_container_select {
    position: relative;
    margin-bottom: 20px;
    height: 132px;
    background: #efefef;
    border-radius: 5px;
    box-shadow: 2px 1px 6px 0px #b7b7b7;
}
.booking_search_by_id_section input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 21px;
    padding: 2px 1px 1px 30px;
    font-size: 11px;
    height: 29px;
}
.booking_search_by_id_section svg.search_icon{
    position: absolute;
    width: 14px;
    left: 12px;
    fill: #7b7676;
    top: 13px;
}
.booking_detail_op a{
    color: rgb(210 64 70)!important;
    font-size: 11px;
    font-weight: 600;
}
.booking_search_by_id_section svg.remove_icon{
    position: absolute;
    width: 14px;
    right: 12px;
    fill: #7b7676;
    top: 13px;
}
.bid_action_column_section_admin  .bid_ammount_max_price_button {
    border: 1px solid var(--theme-color,rgb(218, 39, 46))!important;
    color: var(--theme-color,rgb(218, 39, 46))!important;
    font-size: 13px;
    width: 100%;
    height: 30px;
}
.bid_action_column_section_admin .make_bid_button {
    color: #ffffff;
    border: 1px solid var(--theme-color,rgb(218, 39, 46))!important;
    background: var(--theme-color,rgb(218, 39, 46))!important;
    font-size: 13px;
    width: 100%;
    height: 30px;
}
ion-card-header.ionic_card_header.ion-inherit-color.md.hydrated {
    border-bottom: 1px solid #ccc;
    box-shadow: 1px -1px 20px 0px #cccccc4f;
    font-size: 13px;
    font-weight: 600;
}
.booking_title_op {
    font-size: 13px;
}
.booking_detail_op {
    font-size: 13px;
}
.bid_action_column_section_admin .make_request_button {
    color: #ffffff;
    border: #3aab3a;
    background: #3aab3a;
    font-size: 13px;
    width: 100%;
    height: 30px;
}
@media (min-width: 600px) {
    .booking_detail_list_scroll {
        padding: 0px 20%!important;
    }
}
@media (min-width: 800px) {
    .booking_detail_list_scroll {
        padding: 0px 25%!important;
    }
    .bid_action_column_section_admin  .bid_ammount_max_price_button {
        font-size: 14px;
    }
    .bid_action_column_section_admin .make_bid_button {
        font-size: 14px;
    }
    .booking_title_op {
        font-size: 14px;
    }
    .booking_detail_op a {
        font-size: 14px;
    }
    .booking_filter_class {
        padding: 7px 25%;
        font-weight: 700;
    }
}
