.bidding_list_q_button {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 1px #e4e4e4;
    padding: 9px 14px;
    background: #538a57;
    width: 99%;
    color: #e8e8e8;
    font-size: 11px;
    text-align: center;
    font-family: unset;
    font-weight: 700;
}
.bidding_list_cancel_button {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 1px #e4e4e4;
    padding: 9px 14px;
    background: #d81616;
    width: 99%;
    color: #e8e8e8;
    font-size: 11px;
    text-align: center;
    font-family: unset;
    font-weight: 700;
}
.booking_detail_container_select {
    position: relative;
    margin-bottom: 20px;
    height: 132px;
    background: #efefef;
    border-radius: 5px;
    box-shadow: 2px 1px 6px 0px #b7b7b7;
}