.user_profile_pic_update_user {
    text-align: center;
    width: 100%;
}
.user_profile_pic_update_user img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.edit_profile_picture_url {
    background: white;
    border-radius: 20px;
    padding: 7px;
    font-size: 17px;
}
input#edit_image_input {
    display: none!important;
}
.swiper-slide img {
    width: auto;
    max-width: 100%;
    min-height: 20px;
    height: auto;
    max-height: 157px;
}
.image-slider .remove_image_class {
    border: 3px solid #7b7b7b;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
    background: #ffffff;
    position: absolute;
    bottom: 3px;
}
.user_list_contant{
    font-size: 12px;
}