.user_data_list_container:last-child {
    border-bottom: 1px solid #ccc;
}
.user_data_list_container {
    position: relative;
    border: 1px solid #ccc;
    margin: 0px 20px;
    font-size: 12px;
}
a.phone_number {
    text-decoration: none;
    color: unset!important;
}
input.user_balance_input_data {
    border: 1px solid #ccc;
    padding: 2px;
    width: 54px;
    border-radius: 4px;
}
.user_search_by_phone_section {
    position: fixed;
    width: 100%;
    padding: 1px 20px;
    background: #ffffff;
    z-index: 9999999999;
}
.user_profile_pic {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.user_search_by_phone_section input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 21px;
    padding: 2px 1px 1px 30px;
    font-size: 11px;
    height: 29px;
}
button.user_edit_button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #e12411;
    font-size: 15px;
    color: #fff;
    margin-top: 12px;
    height: 32px;
    width: 100%;
}
.user_search_by_phone_section svg.search_icon{
    position: absolute;
    width: 14px;
    left: 28px;
    fill: #7b7676;
    top: 9px;
}
.user_search_by_phone_section svg.remove_icon{
    position: absolute;
    width: 14px;
    right: 28px;
    fill: #7b7676;
    top: 9px;
}

.user_profile_pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user_data_list_section{
    margin-top: 40px;
}

.user_data_grid .user_data_grid_toggle_section{
    width: 32px;
    height: 7px;
    position: absolute;
    top: -5px;
    left: -6px;
}
.vertual_list_scroll {
    height: calc(100vh - 153px)!important;
}
button.user_cars_button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;
    font-size: 15px;
    margin-top: 12px;
    height: 32px;
    width: 100%;
}
.user_cars_button_section {
    text-align: center;
    border-top: 1px solid #ccc;
    margin: 12px 0px;
}
.user_data_list_container .user_update_date {
    position: absolute;
    top: 19px;
    right: 12px;
}
.user_profile_pic_profile_section {
    max-height: 200px;
    overflow: hidden;
    text-align: center;
    background: #cdcdcd;
}
.user_profile_pic_profile_section img {
    width: 178px;
    height: 167px;
}
.user_data_grid_toggle_section {
    margin-top: -10px!important;
}
.user_data_list_card_content{
    font-size: 12px;
}
@media (min-width: 900px) {
    .user_data_list_main_top_container {
        padding: 0px 18%;
    }
    .user_data_list_card_content{
        font-size: 15px;
    }
    .booking_request_list_section {
        padding: 0px 32%;
    }
}
/* @media (max-width: 300px) and (min-width: 200px) {
    .user_data_list_main_top_container {
        padding: 0px 30%;
    }
}
@media (max-width: 400px) and (min-width: 300px) {
    .user_data_list_main_top_container {
        padding: 0px 30%;
    }
}
@media (max-width: 200px) and (min-width: 100px) {
    .user_data_list_main_top_container {
        padding: 0px 30%;
    }
} */