
  .trip_type_button{
    width: 59%;
    height: 65px;
    font-size: 18px;
    font-family: cursive;
  }
  .main_body_content_container {
    height: 1000px;
    overflow: auto;
    position: relative;
}
.extra_red_section_div {
  height: 200px;
  background: #ec0606!important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.trip_button_container {
  margin-top: 156px;
  text-align: center;
}
.trip_button {
  background: white;
  width: 85%;
  border-radius: 6px;
  padding: 17px 10px;
  border: 1px solid #ccc;
  margin-bottom: 31px;
  box-shadow: -1px 0px 20px 5px #b1a9a93d;
}

.trip_button_icon svg {
  width: 34px;
}
.trip_button_text {
  text-align: left;
  letter-spacing: 1px;
  font-size: 23px;
  padding-top: 11px;
  font-family: system-ui;
}
.trip_bottom_button {
  text-align: center;
  margin-top: 169px;
}
button.check_out_video_button {
  background: white;
  width: 85%;
  border-radius: 6px;
  padding: 7px 10px;
  border: 1px solid #ccc;
  margin-bottom: 31px;
  box-shadow: -1px 0px 7px 5px #928c8c1f;
}
.check_out_button_text {
  text-align: left;
  font-size: 18px;
  font-family: system-ui;
  letter-spacing: 1px;
  padding-top: 7px;
}
.check_out_button_icon svg{
  fill: #ec0606!important;
  width: 22px;
}
.bottom_logo_container {
  text-align: center;
}
.bottom_logo_container svg {
  width: 105px;
}