.user_avatar_image_icon img {
    width: 45px;
    border-radius: 50%;
    height: 45px;
}
.user_avatar_image_icon {
    width: 88%;
}
.header_section {
    display: inline-flex;
    width: 100%;
    padding: 0px 20px;
}
.app_logout_button {
    text-align: right;
    width: 20%;
}
.app_logout_button svg{
    width: 29px;
    fill: #3c3b3b;
    margin-top: 12px;
}
.back_button_icon_svg svg{
    width: 30px;
}
ion-header ion-toolbar {
    --background: #ec0606!important;
    --border-color: #ec0606!important;
}
.menu_drawer_icon_section {
    width: 21px;
    height: 21px;
    background: white;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid #000000b5;
    position: absolute;
    left: 52px;
    bottom: 0px;
}
.menu_drawer_icon_section svg {
    width: 12px;
}
.header_title_text{
    color: white;
    font-family: revert;
    letter-spacing: 1px;
}
.notification_bell_icon {
    text-align: right;
    padding: 8px 22px 0px 0px;
}
.notification_bell_icon svg{
    fill: white;
    width: 25px;
    transform: rotate(
        13deg
        );
}
.header-md::after {
    background-image: none!important;
}
.header_title_col{
    text-align: center;
    font-size: 20px;
    padding-top: 16px;
}