ion-header.user_header_class ion-toolbar.user_header_toolbar{
    color: white!important;
}
ion-header.user_header_class ion-back-button {
    display: block;
    color: white!important;
}
ion-header.user_header_class ion-toolbar.user_header_toolbar {
    --background: #ec0606!important;
    --border-color: #ec0606!important;
}
.back_button_group{
    margin-top: 6px!important;
}