.top_balance_header_section {
    padding: 10px 15px;
    background: var(--theme-color,rgb(218, 39, 46))!important;
}
.top_bidding_header_section {
    width: 100%;
}
.top_balance_header_section .top_balance_header_section_col{
    font-size: 20px;
    color: #ffffff;
}
.top_balance_header_section .top_balance_header_section_col .rupee_sign svg{
    width: 17px;
    fill: #ffffff;
    margin-right: 10px;
}
.top_balance_header_section .avialable_balance_title_section {
    color: #fff9;
    font-size: 12px;
    margin-top: 8px;
    font-family: inherit;
    font-weight: 600;
}
.top_avatar_header_section_col{
   text-align: right;
}
.top_avatar_header_section_col .user_avatar img {
    border-radius: 50%;
    border: 3px solid #ffffff;
    width: 44px;
    height: 44px;
}
.top_avatar_header_section_col .user_avatar svg {
    width: 14px;
    fill: #ffffff;
    margin: 15px;
}
.top_sub_header_section {
    padding-top: 19px;
    padding-bottom: 5px;
}
.top_sub_header_section.fixed {
    position: fixed;
    width: 100%;
    top: 50px;
    background: #ffffff;
    z-index: 999;
}
.top_sub_header_menu_text {
    color: #808080;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}
.top_sub_header_menu_text.border{
    border-right: 2px solid #ccc;
}
.top_sub_header_menu_text_last {
    color: #808080;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    border-right: unset!important;
}
ion-col.top_sub_header_col {
    text-align: center;
}
.top_sub_header_menu_text.active {
    color: var(--theme-color,rgb(218, 39, 46))!important;
}
.bidding_list_inner_container_section_bid {
    padding: 0px 9px;
    background: #ffffff;
    /* height: calc(100vh - 280px);
    overflow: auto; */
}
.bidding_list_inner_container_section_bid.fixed {
    margin-top: 70px;
}
.bidding_list_inner_loop {
    border: 1px solid #e2e0e0;
    margin-bottom: 10px;
}
ion-col.bidding_list_inner_col_icon {
    background: #e6e6e694;
    text-align: center;
    padding: 10px 2px;
}
ion-col.bidding_list_inner_col_icon.pending{
    border-left: 2px solid rgb(255, 121, 0);
}
ion-col.bidding_list_inner_col_icon.success{
    border-left: 2px solid rgb(122, 183, 30);
}
ion-col.bidding_list_inner_col_icon.cancel{
    border-left: 2px solid rgb(255, 30, 0);
}
ion-col.bidding_list_inner_col_icon.pending svg {
    width: 19px;
    fill: rgb(255, 121, 0);
}
ion-col.bidding_list_inner_col_icon.success svg {
    width: 16px;
    fill: rgb(122, 183, 30);
}
ion-col.bidding_list_inner_col_icon.cancel svg {
    width: 15px;
    fill: rgb(226 32 6);
}

ion-col.bidding_list_inner_col_icon.pending span.status_name_type{
    font-size: 9px;
    color: rgb(255, 121, 0);
    font-weight: 600;
}
ion-col.bidding_list_inner_col_icon.success span.status_name_type{
    font-size: 9px;
    color: rgb(122, 183, 30);
    font-weight: 600;
}
ion-col.bidding_list_inner_col_icon.cancel span.status_name_type{
    font-size: 9px;
    color: rgb(255, 30, 0);
    font-weight: 600;
}
ion-col.bidding_list_pick_point_col {
    overflow-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 12px;
}
.bidding_list_inner_loop:hover ion-col.bidding_list_pick_point_col{
    background: #e0e0e0;
}
.bidding_list_inner_loop:hover ion-col.bidding_list_icon_col{
    background: #e0e0e0;
}
.bidding_list_pick_point_col .bidding_list_pick_point_text {
    font-size: 11px;
    font-weight: 600;
    color: #5d5d5d;
}
.bidding_list_pick_point_col .bidding_list_pick_point_time {
    font-size: 11px;
    color: var(--theme-color,rgb(218, 39, 46))!important;
    font-weight: 600;
}
ion-col.bidding_list_icon_col {
    padding-top: 18px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: #5d5d5d;
    border-left: 1px solid #e2e0e0;
}
ion-col.bidding_list_icon_col svg{
    width: 11px;
    fill: #5d5d5d;
}