.add_select_button_container {
    margin-top: 30%;
}
button.bid_booing_button {
    text-align: center;
    width: 93%;
    padding: 28px;
    background: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px -1px 20px 3px #cccccc45;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: revert;
    margin-bottom: 50px;
}
.add_select_button_container {
    margin-top: 30%;
    text-align: center;
}
button.update_user_data_button {
    width: 64%;
    padding: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0px -1px 20px 3px #cccccc45;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: revert;
}
.update_user_data_container {
    margin-top: 20%;
    text-align: center;
}