.enter_detail_button{
    --background: var(--theme-color,rgb(218, 39, 46))!important;
    --border-radius: unset;
    width: 100%;
    font-size: 13px;
}
.add_bidding_inner_coontainer ion-item {
    font-size: 15px;
}