.booking_detail_list_scroll{
    height: calc(100vh - 166px)!important;
    padding: 15px;
    overflow: auto;
    background: white!important;
}
.filter_popup_date {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ffffff;
    padding: 12px;
    color: hsl(0, 0%, 50%);
    z-index: 0;
    border-radius: 4px;
}
.css-1uccc91-singleValue {
    color: hsl(0, 0%, 50%)!important;
}
.hide_overflow{
    --overflow:hidden!important;
    overflow:hidden!important;
}
.graer_box_loader {
    margin-top: -122px;
}
.calender_filter {
    width: 16px;
    position: absolute;
    top: 15px;
    z-index: 0;
    right: 15px;
}
.calender_filter_hr {
    align-self: stretch;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    height: 20px;
    top: 5px;
    right: 42px;
}
.booking_detail_container {
    position: relative;
    margin-bottom: 20px;
    background: #efefef;
    border-radius: 0px;
}
.booking_sudo_profile_div {
    padding: 4px;
}
.booking_sudo_profile_div svg {
    fill: #828080;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.calender_filter svg{
    fill: hsl(0, 0%, 50%);
}
.booking_detail_container:last-child {
    /* border-bottom: 1px solid #ccc; */
}

.booking_detail_box {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 7px 3px 0px 3px;
}
.bidding_list_button {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 1px #e4e4e4;
    padding: 5px 14px;
    right: 0px;
    background: #d81616;
    color: #e8e8e8;
    position: absolute;
    font-size: 11px;
    text-align: center;
    font-family: unset;
    font-weight: 700;
}
.booking_detail_op {
    color: rgb(210 64 70);
    font-size: 11px;
    font-weight: 600;
}
.booking_title_op {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #807d7d;
    font-family: inherit;
}
span.booking_hr {
    background: #dcdcdc;
    width: 60%;
    height: 2px;
    margin-left: 9px;
    display: inline-flex;
}
ion-button.book_or_bid_button {
    width: 100%;
    position: absolute;
    bottom: -48px;
    --background: var(--theme-color,rgb(218, 39, 46))!important;
    padding-top: 1px;
    padding-bottom: 5px;
    --border-radius: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}
.booking_title_left, .booking_title_right {
    margin-top: 6px;
    height: 18px;
    text-overflow: ellipsis;
    width: 88px;
    white-space: nowrap;
    overflow: hidden;
}
.find_booking_section {
    color:#6f6e6e;
    padding: 9px;
    font-size: 11px;
 }

.find_booking_section svg {
    width: 10px;
    margin-left: 94%;
}
.booking_filter_class {
    background: #efefef;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
}
.booking_filter_class.fixed {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 9;
}

.filter_section_input {
    /* margin-top: 17px; */
}
.filter_booking_section_input {
    width: 100%;
    padding: 4px;
    color: #847f7f;
    font-size: 11px;
    border: 1px solid #dedede;
}
.filter_search_button_col {
    text-align: center;
}
.filter_search_button {
    width: 100%;
    background: #808080;
    padding: 10px;
    margin-top: 13px;
    color: #fff;
    font-size: 11px;
}
.bid_action_column_section{
    text-align: center;
}
.bid_action_column_section .bid_ammount_max_price_button {
    border: 1px solid var(--theme-color,rgb(218, 39, 46))!important;
    border-radius: 20px;
    color: var(--theme-color,rgb(218, 39, 46))!important;
    font-size: 12px;
    width: 93%;
    height: 24px;
}
.bid_action_column_section .bid_ammount_max_price_button svg{
    width:10px;
    fill: var(--theme-color,rgb(218, 39, 46))!important;
}
.bid_action_column_section .make_bid_button {
    color:#ffffff;
    border-radius: 20px;
    border: 1px solid var(--theme-color,rgb(218, 39, 46))!important;
    background: var(--theme-color,rgb(218, 39, 46))!important;
    font-size: 12px;
    width: 93%;
    height: 24px;
}